pandas
pm4py~=2.7.11.10
ollama==0.1.9
graphviz # need to download graphviz https://graphviz.org/download/ and save in sys path, restart computer
openai~=1.34.0
python-dotenv~=1.0.1
instructor
customtkinter~=5.2.2
pillow~=10.3.0
Levenshtein~=0.25.1